/* Variables */
$fontfamily: 'Roboto', sans-serif;
$black: #2D3436;
$green: #55EFC4;
$red: #D63031;
$grey: #DFE6E9;
$white: #FFFFFF;

body {
  font-family: $fontfamily;
  color: $black;
}

.logo {
  margin: 3% 0;
  img {
    width: 35%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.heading {
  text-align: center;
  h1 {
    text-align: center;
    font-weight: 300;
    font-size: 24px;
  }

  a {
    color: $green;
    font-weight: 300;
  }

  a:hover {
    color: $black;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}